In [2]:
import pandas as pd
import numpy as np

In [3]:
load_data = pd.read_csv('Inferential Statistics - Student Loan.csv')
load_data = load_data.replace({'%': ''}, regex=True)
load_data.head()

,Customer No.,Exposure at Default (in lakh Rs.),Recovery (%),Probability of Default,Unnamed: 4,Unnamed: 5
0,1,11.50,20.00,0.0070,NaN,NaN
1,2,0.24,5.10,0.0033,NaN,NaN
2,3,0.04,24.86,0.0022,NaN,NaN
3,4,13.81,2.29,0.0066,NaN,NaN
4,5,19.84,3.47,0.0020,NaN,NaN

In [4]:
load_data['Recovery (%)'] = load_data['Recovery (%)'].astype('float')
load_data['Exposure at Default (in lakh Rs.)'] = load_data['Exposure at Default (in lakh Rs.)'].astype('float')
load_data['Probability of Default'] = load_data['Probability of Default'].astype('float')
percentage_fn = lambda x: (x/100)
load_data.loc[:, 'recovery_percentage'] = load_data['Recovery (%)'].apply(percentage_fn)
load_data.head()

,Customer No.,Exposure at Default (in lakh Rs.),Recovery (%),Probability of Default,Unnamed: 4,Unnamed: 5,recovery_percentage
0,1,11.50,20.00,0.0070,NaN,NaN,0.2000
1,2,0.24,5.10,0.0033,NaN,NaN,0.0510
2,3,0.04,24.86,0.0022,NaN,NaN,0.2486
3,4,13.81,2.29,0.0066,NaN,NaN,0.0229
4,5,19.84,3.47,0.0020,NaN,NaN,0.0347

In [5]:

((1 - load_data['recovery_percentage']) * load_data['Probability of Default'] * load_data['Exposure at Default (in lakh Rs.)']).sum()

493.39131440619997

### Sampling Distributions

In [9]:
samples = pd.read_csv('Inferntial Statistics - UpGrad Samples.csv')
samples.head()

   Sample No.  Sample Mean
0           1          3.2
1           2          2.6
2           3          2.8
3           4          2.0
4           5          3.0

In [12]:
sample_mean = samples['Sample Mean'].mean()
sample_mean

2.3480000000000003

In [28]:
np.sqrt ( ( ((samples['Sample Mean'] - sample_mean)**2).sum() ) / ( len(samples)  ) ) 
# ( samples['Sample Mean'].std() ) / ( len(samples)  )

0.4248482081873478

### probability with confidence level:

In [30]:
rents = pd.read_csv('Inferential Statistics - Powai Flats Rent.csv')
rents.head()

   S. No.  Monthly Rent
0       1         44000
1       2         49800
2       3         45400
3       4         40700
4       5         43900

In [56]:
total_samples = len(rents)
total_samples

200

In [97]:
rent_mean = rents['Monthly Rent'].mean()
rent_mean

45571.0

In [127]:
tmp = np.sqrt ( ((rents['Monthly Rent'] - rent_mean)**2).sum() / (total_samples-1) )
tmp

7457.521851178448

In [137]:
std_deviation = np.sqrt( (((rents['Monthly Rent'] - rent_mean)**2).sum())/ (total_samples-1) )
std_deviation = std_deviation.round(2)

std_deviation

7457.52

In [138]:
error_range_90 = (1.645 * std_deviation) / np.sqrt(total_samples)
error_range_90

867.4517573862428

In [134]:
(rent_mean-error_range_90)

44703.60872852782

In [135]:
(rent_mean+error_range_90)

46438.39127147218

In [132]:
rent_mean - 44701

870.0

In [140]:
error_range_99 = (2.58 * std_deviation) / np.sqrt(total_samples)
error_range_99

1360.50184441125

In [141]:
(rent_mean-error_range_99)

44210.49815558875

In [142]:
(rent_mean+error_range_99)

46931.50184441125

In [143]:
error_range_95 = (1.96 * std_deviation) / np.sqrt(total_samples)
error_range_95

1033.559540715523

In [144]:
(rent_mean-error_range_95)

44537.44045928448

In [145]:
(rent_mean+error_range_95)

46,500

46604.55954071552