In [1]:
import pandas as pd
import numpy as np

In [12]:
load_data = pd.read_csv('Inferential Statistics - Student Loan.csv')
load_data = load_data.replace({'%': ''}, regex=True)
load_data.head()

,Customer No.,Exposure at Default (in lakh Rs.),Recovery (%),Probability of Default,Unnamed: 4,Unnamed: 5
0,1,11.50,20.00,0.0070,NaN,NaN
1,2,0.24,5.10,0.0033,NaN,NaN
2,3,0.04,24.86,0.0022,NaN,NaN
3,4,13.81,2.29,0.0066,NaN,NaN
4,5,19.84,3.47,0.0020,NaN,NaN

In [25]:
load_data['Recovery (%)'] = load_data['Recovery (%)'].astype('float')
load_data['Exposure at Default (in lakh Rs.)'] = load_data['Exposure at Default (in lakh Rs.)'].astype('float')
load_data['Probability of Default'] = load_data['Probability of Default'].astype('float')
percentage_fn = lambda x: (x/100)
load_data.loc[:, 'recovery_percentage'] = load_data['Recovery (%)'].apply(percentage_fn)
load_data.head()

,Customer No.,Exposure at Default (in lakh Rs.),Recovery (%),Probability of Default,Unnamed: 4,Unnamed: 5,recovery_percentage
0,1,11.50,20.00,0.0070,NaN,NaN,0.2000
1,2,0.24,5.10,0.0033,NaN,NaN,0.0510
2,3,0.04,24.86,0.0022,NaN,NaN,0.2486
3,4,13.81,2.29,0.0066,NaN,NaN,0.0229
4,5,19.84,3.47,0.0020,NaN,NaN,0.0347

In [38]:

((1 - load_data['recovery_percentage']) * load_data['Probability of Default'] * load_data['Exposure at Default (in lakh Rs.)']).sum()

493.39131440619997